.centered-header {
    text-align: center;
    font-size: 1.8rem;
}

.grid-container h3 {
    text-align: left;
    padding-bottom: 15px;
}

.grid-item {
    height: 150px;
    position: relative;
}

.daemon-button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}